<!-- education section -->

<div class="section">
    <div class="container cc-education">
      <div class="h4 text-center mb-4 title">Education</div>
      
    {% for edu in edu %}
        
     
        
      <div class="card">
        <div class="row">
          <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
            <div class="card-body cc-education-header">
              <p>{{edu.start_date | title}}  -  {{edu.end_date | title}}</p>
              <div class="h5">{{edu.qualification | title}}</div>
            </div>
          </div>
          <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
            <div class="card-body">
              <div class="h5">{{edu.degree | title}}</div>
              <p class="category">{{edu.institute | title}}</p>
              <p>{{edu.descriptions | capfirst}}</p>
            </div>
          </div>
        </div>
      </div>

    {% endfor %}
    
    
      <!-- <div class="card">
        <div class="row">
          <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
            <div class="card-body cc-education-header">
              <p>2009 - 2013</p>
              <div class="h5">Bachelor's Degree</div>
            </div>
          </div>
          <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
            <div class="card-body">
              <div class="h5">Bachelor of Computer Science</div>
              <p class="category">University of Computer Science</p>
              <p>Euismod massa scelerisque suspendisse fermentum habitant vitae ullamcorper magna quam iaculis, tristique sapien taciti mollis interdum sagittis libero nunc inceptos tellus, hendrerit vel eleifend primis lectus quisque cubilia sed mauris. Lacinia porta vestibulum diam integer quisque eros pulvinar curae, curabitur feugiat arcu vivamus parturient aliquet laoreet at, eu etiam pretium molestie ultricies sollicitudin dui.</p>
            </div>
          </div>
        </div>
      </div> -->
      <!-- <div class="card">
        <div class="row">
          <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
            <div class="card-body cc-education-header">
              <p>2007 - 2009</p>
              <div class="h5">High School</div>
            </div>
          </div>
          <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
            <div class="card-body">
              <div class="h5">Science and Mathematics</div>
              <p class="category">School of Secondary board</p>
              <p>Euismod massa scelerisque suspendisse fermentum habitant vitae ullamcorper magna quam iaculis, tristique sapien taciti mollis interdum sagittis libero nunc inceptos tellus, hendrerit vel eleifend primis lectus quisque cubilia sed mauris. Lacinia porta vestibulum diam integer quisque eros pulvinar curae, curabitur feugiat arcu vivamus parturient aliquet laoreet at, eu etiam pretium molestie ultricies sollicitudin dui.</p>
            </div>
          </div>
        </div>
      </div> -->



    </div>
  </div>