<!-- profile page... -->

<div class="profile-page">
    <div class="wrapper">
      <div class="page-header page-header-small" filter-color="green">
        <div class="page-header-image" data-parallax="true" style="background-image: url(/static/content/images/unsplash.jpg)"></div>
        <div class="container">
          <div class="content-center">
            <div class="cc-profile-image"><a href="#">
              <img src="{{ profile.profile_pic.url }}" alt="Image"/></a>
             
            
            </div>
            <div class="h2 title">{{profile.fullname | title}}</div>
            <p class="category text-white">{{profile.designation | title}}</p><a class="btn btn-primary smooth-scroll mr-2" href="#contact" data-aos="zoom-in" data-aos-anchor="data-aos-anchor">Hire Me</a><a class="btn btn-primary" href="{{profile.cv.url}}" data-aos="zoom-in" data-aos-anchor="data-aos-anchor">Download CV</a>
          </div>
        </div>
        <div class="section">
          <div class="container">
            <div class="button-container"><a class="btn btn-default btn-round btn-lg btn-icon" href="{{social.Facbook_link}}" rel="tooltip" title="Follow me on Facebook"><i class="fa fa-facebook"></i></a><a class="btn btn-default btn-round btn-lg btn-icon" href="{{social.Linkedin_link}}" rel="tooltip" title="Follow me on Linkedin"><i class="fa fa-linkedin"></i></a><a class="btn btn-default btn-round btn-lg btn-icon" href="{{social.Google_link}}" rel="tooltip" title="Follow me on Google+"><i class="fa fa-google-plus"></i></a><a class="btn btn-default btn-round btn-lg btn-icon" href="{{social.Instagram_link}}" rel="tooltip" title="Follow me on Instagram"><i class="fa fa-instagram"></i></a></div>
          </div>
        </div>
      </div>
    </div>
  </div>